body {
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}
li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
ul {
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
}
h2 {
  padding: 40px;
}